.homepage, .gallery, .about {
	margin-top: 3em;
}
.header a {
	text-decoration: none;
	color: #222;
}
.home-gallery {
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	margin-top: 2em;
}
.home-gallery a {
	text-decoration: none;
	color: #222;
}
.home-gallery a:hover {
}
.nav {	
	text-align: right;
	margin-top: 8px;
}
.gallery {

	margin-bottom: 15px;
}
#resume-download {
	text-align: right;
}

@media (max-width: 550px) {

	.header {
		text-align: center;
	}
	.nav {
		text-align: center;
		margin-top: 0;
	}
}


.container h2 {
	font-family: 'Libre Baskerville', serif;
}


.footer {
	margin-top: 2em;
	text-align: center;
}