@import url(//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900);
@import url(//fonts.googleapis.com/css?family=Libre+Baskerville);
    
@import "normalize";
@import "skeleton";


// Navigation Row

@media (max-width: 550px) {

	.header {
		text-align: center;
	}
	.nav {
		text-align: center;
		margin-top: 0;
	}
}
.header a {
	text-decoration: none;
	color: #222;
}
.header h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 3.6rem; 
	line-height: 1.25; 
	letter-spacing: -.1rem;
}
.home-gallery {
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	margin-top: 2em;
}
.nav {	
	text-align: right;
}



.homepage, .gallery, .about, .photo, .statement {
	margin-top: 3em;
}

.gallery-grid {
	text-align: center;
	margin-bottom: 15px;
}
.gallery-grid:first-child {
	margin-bottom: 2em;
}

.photo-view {
	margin-top: 2em;
	text-align: center;
}

#resume-download {
	text-align: right;
}

.photo-breadcrumb {
	margin-top: 2em;
	text-align: center;
}

.footer {
	margin-top: 4em;
	text-align: right;
	line-height: .75em;
}

.footer span {
	font-size: .75em;
}

.nav a {
	  display: inline-block;
	  height: 38px;
	  padding: 0 20px;
	  color: #555;
	  text-align: center;
	  font-size: 11px;
	  font-weight: 600;
	  line-height: 38px;
	  letter-spacing: .1rem;
	  text-transform: uppercase;
	  text-decoration: none;
	  white-space: nowrap;
}
.nav .primary {
	color: #BC2323;
}

ul.contact {
	list-style: none;
}
.pdflink { 
   padding-right: 18px;
   background: transparent url(/images/pdf.gif) no-repeat center right;
}


h3 { 
	font-size: 2.5rem;
	font-weight: 500;
}
